.info{
    font-family: sans-serif;
    padding-block-end: 50px;
}
.adress{
    color: blue;
    text-align: left;
    font-size: medium;
    padding-left: 20px;
    font-family: sans-serif;
    
}

.heading{
    color: red;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: medium;
}

.text{
    color: blue;
    text-align: left;
    font-size: medium;

}
