.info{
    font-family: sans-serif;
    padding-block-end: 50px;
}
.address{
    white-space: pre;
    color: blue;
    text-align: left;
    font-size: medium;
    padding-left: 20px;
}

.heading{
    color: red;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: medium;
}

.text{
    color: blue;
    text-align: left;
    font-size: medium;

}
