.paginate-btn{
    list-style: none;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid grey;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.paginate-btn:active{
    background-color: rgb(155, 182, 241);
    
}