.edit_data{
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(218, 216, 216);
    display: block;
    height: 20px;
    width: 400px; 
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn_edit{
    margin: 25px 55px 10px 60px;
}
