.leftimg{
    float:left;
   
}
.styleh1{
    font-size: smaller;
    font-family: cursive;
    font-weight: normal;
  
}
.styleh2{
    font-family: inherit;
    text-align: center;
    color: lightcoral;

 
}
.stylep{
    font-family:inherit;


}